$frame-51: #BCD0E5;
$frame-52: #173A56;
$frame-53: #02897A;
$frame-54: #4D8DFF;
$frame-55: #740A76;
$frame-56: #22343d;
$frame-57: #FFFFFF;
$frame-58: #F03E3D;

.site-body--white{
  $frame-51: #BCD0E5;
  $frame-52: #ffffff;
  $frame-53: #02897A;
  $frame-56: #ffffff;
  $frame-57: #ffffff;
}