:root{
  --frame-50: #afafaf;
  --frame-51: #BCD0E5;
  --frame-52: #173A56;
  --frame-53: #02897A;
  --frame-54: #4D8DFF;
  --frame-55: #740A76;
  --frame-56: #22343d;
  --frame-57: #FFFFFF;
  --frame-58: #E7E7E7;
  --frame-59: #2F281E;
  --frame-60: #737373;
  --frame-61: #252B42;
  --frame-62: #DEDEDE;
  --frame-63: #F5F5F5;
  --frame-64: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
  --frame-65: #000000;
  --frame-66: #EAEAEA;
}

.site-body--white{
  --frame-50: #afafaf;
  --frame-51: #BCD0E5;
  --frame-52: #FFFFFF;
  --frame-53: #02897A;
  --frame-54: #4D8DFF;
  --frame-55: #740A76;
  --frame-56: #FFFFFF;
  --frame-57: #FFFFFF;
  --frame-58: #474747;
  --frame-59: #2F281E;
  --frame-60: #737373;
  --frame-61: #252B42;
  --frame-62: #DEDEDE;
  --frame-63: #22343D;
  --frame-64: #22343D;
  --frame-65: #FFFFFF;
  --frame-66: #EAEAEA;
}