.site-header{
  padding: 19px 0;
}

.header__inner{
  @include flex-starter;
  width: 100%;
}

.header__logo-link{
  @include flex-starter;
  text-decoration: none;
}

.header__logo-img{
  display: block;
}

.white{
  display: none;
}

.site-body--white > .site-header > .container > .header__inner > .header__logo-link > .header__logo-img{
  display: none;
}

.site-body--white > .site-header > .container > .header__inner > .header__logo-link > .white{
  display: block;
}

.header__right{
  @include flex-starter;
  margin-left: auto;
}

.header__list{
  @include flex-starter;
  justify-content: space-between;
  @include list-global;
}

.header__item{
  margin-right: 30px;
  
  &:nth-child(4) {
    margin-right: 24px;
  }

  &:nth-child(5){
    margin-right: 24px;
  }
}

.header__link{
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: var(--frame-56);
}

.header__in{
  display: inline-block;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--frame-52);
  border: 1px solid var(--frame-51);
  background-color: transparent;
  border-radius: 4px;
}

.header__up{
  display: inline-block;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--frame-57);
  background-color: var(--frame-53);
  border: none;
  border-radius: 4px;
}

.header__black {
  --size: 2rem;
  
  appearance: none;
  outline: none;
  cursor: pointer;
  
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(240, 1%, 61%);
  
  transition: all 500ms;
  
  &:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);

    transform: scale(0.75);
    color: hsl(40, 100%, 50%);
    box-shadow: 
      inset 0 0 0 var(--size),
      calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
      var(--offset-orthogonal) 0 0 var(--ray-size),
      0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
      0 var(--offset-orthogonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
      var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
      calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
      var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
    ;
  }
}

.header__black {
  z-index: 1;
  &:checked {
    & ~ .background {
      --bg: white;
    }
    & ~ .title {
      --color: hsl(40, 100%, 50%);
    }
  }
}

.header__icon {
  display: none;
  width: 28px;
  height: 31px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header__icon .icon-span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: var(--frame-52);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header__icon .icon-span:nth-child(1) {
  top: 0px;
}

.header__icon .icon-span:nth-child(2),.header__icon .icon-span:nth-child(3) {
  top: 12px;
}

.header__icon .icon-span:nth-child(4) {
  top: 24px;
}

.header__icon.open .icon-span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header__icon.open .icon-span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__icon.open .icon-span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__icon.open .icon-span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}




@media only screen and (max-width: 520px) {

  .header__right{
    position: absolute;
    top: -390px;
    left: calc(50% - 173px);
    z-index: 100;
    flex-direction: column;
    padding: 30px 120px;
    background-color: var(--frame-57);
    border: 2px solid var(--frame-51);
    border-radius: 20px;
    transition: all 0.4s ease;

    &--on{
      top: 90px;
    }
  }

  .header__list{
    flex-direction: column;
    margin-right: 0;
  }

  .header__item{
    margin-right: 0;
    margin-bottom: 10px;

    &:nth-child(4){
      margin-right: 0;
    }

    &:nth-child(5){
      margin-right: 0;
    }
  }

  .header__link{
    color: #22343d;
  }

  .header__in{
    color: #22343d;
  }

  .header__icon{
    display: block;
    margin-left: auto;
  }
}

@media only screen and (max-width: 345px) {

  .header__right{
    left: calc(50% - 143px);
    padding: 30px 90px;
  }
}