.hero{
  padding: 25px 0 114px;
}

.hero__inner{
  @include flex-starter;
  padding: 120px 0 115px 13px;
  background-image: url("../images/hero-img.png");
  background-repeat: no-repeat;
  background-size: 600px 556px;
  background-position: top right;
} 

.hero__content{
  width: 100%;
  max-width: 390px;
}

.hero__title{
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: var(--frame-56);
}

.hero__text{
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;  
  color: var(--frame-56);
}

.hero__link{ 
  display: inline-block;
  margin-right: 30px;
  padding: 15px 41px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--frame-57);
  background-color: var(--frame-53);
  border-radius: 4px;
}

.hero__video-link{
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--frame-53);
}

.hero__svg{
  margin-right: 9px;
}

.hero__img-box{
  margin-left: auto;
}





@media only screen and (max-width: 520px) {

  .hero{
    padding: 30px 0 100px;
  }

  .hero__inner{
    padding-top: 322px;
    padding-left: 0;
    flex-direction: column;
    background-image: url("../images/hero-img-mobile.png");
    background-size: 338px 311px;
    background-position: top center;
  }

  .hero__content{
    text-align: center;
    order: 1;
  }

  .hero__title{
    margin-bottom: 16px;
    font-size: 36px;
  }

  .hero__text{
    margin-bottom: 32px;
  }

  .hero__link{
    margin-right: 28px;
  }
}


@media only screen and (max-width: 373px) {

  .hero__link-box{
    display: flex;
    flex-direction: column;
  }

  .hero__link{
    margin-right: 0;
    margin-bottom: 20px;
  }
}