.management__list{
  @include list-global;
}

.management__item{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 150px;
  background-image: url("../images/management-bgi.png");
  background-repeat: no-repeat;
  background-size: 540px 474px;
  background-position: top right;

  &:nth-child(2n + 1){
    flex-direction: row;
  }

  &:nth-child(2){
    background-image: url("../images/customer-bgi.png");
    background-position: top left;
  }

  &:nth-child(3){
    background-image: url("../images/collaborative-bgi.png");
  }
}

.management__box-item{
  width: 100%;
  max-width: 496px;
  padding: 19px 39px; 
}

.management__subject{
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $frame-56;
}

.management__title{
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: $frame-56;
}

.management__content{
  width: 100%;
  max-width: 440px;
  margin-bottom: 25px;

  &:nth-child(2){
    margin-bottom: 0;
  }
}

.management__text{
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: $frame-56;
}

.management__desc{
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $frame-56;
}

.management__excerpt-box{
  width: 100%;
  max-width: 382px;
}

.management__excerpt{
  display: block;
  margin-bottom: 30px;
  padding-left: 65px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $frame-56;
  background-image: url("../images/right-icon-one.png");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center left;

  &:nth-child(2){
    background-image: url("../images/right-icon-two.png");
  }

  &:nth-child(3){
    margin-bottom: 0;
    background-image: url("../images/right-icon-there.png");
  }
}






@media only screen and (max-width: 520px) {

  .management__item{
    margin-bottom: 100px;
    padding-top: 356px;
    background-image: url("../images/management-bgi-mobile.png");
    background-size: 350px 306px; 
    background-position: top center;

    &:nth-child(2){
      padding-top: 370px;
      background-image: url("../images/customer-bgi-mobile.png");
      background-size: 350px 320px;
      background-position: top center;
    }

    &:nth-child(3){
      padding-top: 342px;
      background-image: url("../images/collaborative-bgi-mobile.png");
      background-size: 350px 292px;
      background-position: top center;
    }
  }

  .management__title{
    margin-bottom: 16px;
  }

  .management__desc{
    margin-bottom: 16px;
  }

  .management__content{
    margin-bottom: 16px;
  }

  .management__excerpt{
    margin-bottom: 16px;

    &:nth-child(3){
      margin-bottom: 0;
    }
  }
}